Repository inko-lang/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:vale, docker:ruby, lint:vale

docker:vale:
  stage: docker
  services:
  - docker:dind
  image: docker:git
  script:
  - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile
  variables:
    IMAGE: vale

docker:ruby:
  stage: docker
  services:
  - docker:dind
  image: docker:git
  script:
  - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile
  variables:
    IMAGE: ruby

lint:vale:
  image: registry.gitlab.com/inko-lang/website:vale
  stage: lint
  before_script:
  - vale --version
  script:
  - vale --no-wrap --sort source/

Update sponsors data
  data/sponsors.yml
Due: none

Update Ruby dependencies for OpenSSL 3.0
  Gemfile
  Gemfile.lock
  docker/ruby/Dockerfile
Due: docker:ruby

Install OpenSSL in CI
  docker/ruby/Dockerfile
Due: docker:ruby

Add link to the Discord server
  source/community.html.md
Due: lint:vale

Note that Matrix is now bridged to our Discord
  source/community.html.md
Due: lint:vale

Add article about the 2023 plans
  source/news/inko-in-2023.html.md
  vale/website/weasel.yml
  vale/write-good/Weasel.yml
Due: lint:vale

Update Twitter links to point to archive.is
  source/news/inko-0-6-0-has-been-released.html.md
  source/news/inko-0-7-0-has-been-released.html.md
  source/news/inko-progress-report-november-2019.html.md
  source/news/inko-progress-report-october-2019.html.md
  source/news/inko-progress-report-september-2019.html.md
  source/news/static-typing-pattern-matching-and-inkos-self-hosting-compiler.html.md
Due: lint:vale

Update sponsors data
  data/sponsors.yml
  source/images/sponsors/gh-22061.jpeg
Due: none

Fix Typo on main page
  source/index.html.md
Due: lint:vale

Disable progress for "aws s3 sync"
  Rakefile
Due: none

Remove MacStadium from the sponsors list
  data/corporate_sponsors.yml
  source/images/macstadium.svg
  source/layouts/sponsors.haml
Due: none

Add article about the migration to GitHub
  source/news/inko-has-migrated-back-to-github.html.md
  vale/website/too_wordy.yml
  vale/write-good/TooWordy.yml
Due: lint:vale

Fix two outdated links to the manual
  source/documentation.html.md
  source/layouts/home.haml
Due: lint:vale

Update sponsors data
  data/sponsors.yml
  source/images/sponsors/gh-86920.jpeg
Due: none

Run deploys after building sponsors data
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/sponsors.yml
Due: none

Fix passing secrets in CI
  .github/workflows/build.yml
  .github/workflows/sponsors.yml
Due: none

Update writing for the changes in 0.11.0
  data/jumbotron.yml
  examples/concurrency.inko
  examples/errors.inko
  examples/files.inko
  examples/generics.inko
  examples/optionals.inko
  examples/pattern_matching.inko
  examples/testing.inko
  lib/inko_lexer.rb
  source/community.html.md
  source/index.html.md
Due: lint:vale

Add release post for 0.11.0
  source/news/inko-0-11-0-released.html.md
Due: lint:vale

Quote dates when generating articles
  Rakefile
  source/news/inko-0-11-0-released.html.md
Due: lint:vale

Fix wrapping of long lines in pre blocks
  source/stylesheets/all.css.scss
Due: none

Fix some more wrapping on the homepage
  source/stylesheets/all.css.scss
Due: none

Update sponsors data
  data/sponsors.yml
  source/images/sponsors/gh-20364796.png
Due: none

Update sponsors data
  data/sponsors.yml
  source/images/sponsors/gh-80464733.jpeg
Due: none

Deploy sponsors changes from main
  .github/workflows/deploy.yml
  .github/workflows/sponsors.yml
Due: none

Set the type for the "ref" input
  .github/workflows/deploy.yml
Due: none

Add release post for 0.12.0
  source/news/inko-0-12-0-released.html.md
Due: lint:vale

Add NLnet to the list of sponsors
  data/corporate_sponsors.yml
  source/images/orgs/nlnet.svg
  source/layouts/sponsors.haml
Due: none

Path conditions:
  docker:vale: any of: docker/vale/Dockerfile, docker/build
  docker:ruby: any of: docker/ruby/Dockerfile, docker/build
  lint:vale: any of: source/**/*.html.md
