Repository inko-lang/website: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker:vale, lint:vale

.gitlab-ci.yml:

---

stages:
  - docker
  - lint
  - automation
  - deploy

.docker: &docker
  stage: docker
  services:
    - docker:dind
  image: docker:git
  script:
    - ./docker/build "${CI_REGISTRY_IMAGE}:${IMAGE}" docker/${IMAGE}/Dockerfile

docker:vale:
  <<: *docker
  variables:
    IMAGE: vale
  except:
    - schedules
  only:
    refs:
      - master
    changes:
      - docker/vale/Dockerfile

lint:vale:
  image: registry.gitlab.com/inko-lang/website:vale
  stage: lint
  before_script:
    - vale --version
  script:
    - vale --no-wrap --sort source/
  except:
    - schedules
  only:
    changes:
      - source/**/*.html.md

deploy:
  image: ruby:2.6-alpine
  stage: deploy
  variables:
    DISTRIBUTION_ID: E2461OP4YFCUOQ
    BUCKET: inko-lang.org
    AWS_DEFAULT_REGION: eu-west-1
  before_script:
    - apk add --no-cache --update build-base nodejs tzdata python3
      python3-dev aws-cli git libffi libffi-dev
    - gem install bundler --no-doc
    - ruby --version
    - gem --version
    - bundle --version
    - bundle config set path vendor
    - bundle install --retry=3 --jobs=$(nproc)
  script:
    - rake deploy
  cache:
    paths:
      - vendor
  only:
    - master@inko-lang/website
  environment:
    name: production
    url: https://inko-lang.org

sponsors:
  image: ruby:2.6-alpine
  stage: automation
  before_script:
    - apk add --update build-base bash openssh imagemagick git
    - gem install bundler --no-doc
    - ruby --version
    - gem --version
    - bundle --version
    - bundle config set path vendor
    - bundle install --retry=3 --jobs=$(nproc)
  cache:
    paths:
      - vendor
  script:
    - ./scripts/sponsors.sh
  only:
    refs:
      - schedules
    variables:
      - $UPDATE_SPONSORS
  environment:
    name: production
    url: https://inko-lang.org

Remove mentions of gradual/dynamic typing
  data/examples.yml
  data/highlights.yml
  data/jumbotron.yml
  source/about.html.md
  source/manual/compiler/optimisations.html.md
  source/manual/compiler/type-inference.html.md
  source/manual/getting-started/concurrent-programming.html.md
  source/manual/getting-started/error-handling.html.md
  source/manual/getting-started/methods-messages-and-objects.html.md
  source/manual/getting-started/types.html.md
  source/manual/style-guide.html.md
  source/manual/syntax.html.md
Due: lint:vale

Add installing using Homebrew section
  source/manual/install.html.md
Due: lint:vale

Fix the font for inline code blocks
  source/stylesheets/all.css.scss
Due: none

Add notes about using "latest" in ienv
  source/manual/ienv.html.md
Due: lint:vale

Use "ienv install latest" in the install guide
  source/manual/install.html.md
Due: lint:vale

Expand Homebrew installation guide a bit
  source/manual/install.html.md
Due: lint:vale

Remove TOC paragraph from the install guide
  source/manual/install.html.md
Due: lint:vale

Support GitHub sponsors data
  Gemfile
  Gemfile.lock
  config.rb
  data/sponsors.yml
  lib/sponsor_data.rb
  lib/sponsors.rb
  lib/sponsors/github.rb
  lib/sponsors/image.rb
  lib/sponsors/image_pruner.rb
  lib/sponsors/open_collective.rb
  source/_homepage_sponsors.haml
  source/_sponsors.haml
  source/images/sponsors/gh-22061.jpeg
  source/layouts/sponsors.haml
  source/sponsors.html.md
  source/stylesheets/all.css.scss
  task/sponsors.rake
Due: lint:vale

Update sponsors data
  data/sponsors.yml
Due: none

Use custom Docker image for Ruby builds
  .gitlab-ci.yml
  docker/build
  docker/ruby/Dockerfile
Due: none

Rename .sponsors-logo to .avatar
  source/_homepage_sponsors.haml
  source/_sponsors.haml
  source/stylesheets/all.css.scss
Due: none

Fix sponsor avatar URLs for production
  source/_sponsors.haml
Due: none

Use "instance attributes" in the style guide
  source/manual/style-guide.html.md
Due: lint:vale

Update Gem dependencies
  Gemfile.lock
Due: none

Add blog post for Inko 0.7.0
  source/news/inko-0-7-0-has-been-released.html.md
Due: lint:vale

Update Matrix chat link on the Community page
  source/community.html.md
Due: lint:vale

Undocument the instruction list
  source/manual/virtual-machine/instructions.html.md
Due: lint:vale

Refactor homepage highlights
  data/highlights.yml
  source/layouts/home.haml
  source/stylesheets/all.css.scss
Due: none

Refactor jumbotron and buttons
  data/buttons.yml
  data/jumbotron.yml
  source/_homepage_sponsors.haml
  source/layouts/home.haml
  source/stylesheets/all.css.scss
Due: none

Clean up some code examples
  data/examples.yml
Due: none

Add release post for Inko 0.8.1
  source/news/inko-0-8-1-released.html.md
Due: lint:vale

Use the official Vale Docker image
  .gitlab-ci.yml
Due: none

Tell crawlers not to index the old manual
  source/robots.txt
Due: none

Remove the old manual in favour of the new manual
  .gitlab-ci.yml
  config.rb
  data/buttons.yml
  data/manual.yml
  data/menu.yml
  source/_manual_sidebar.haml
  source/documentation.html.md
  source/layouts/manual.haml
  source/manual.html.md
  source/manual/compiler/directories.html.md
  source/manual/compiler/environment-variables.html.md
  source/manual/compiler/introduction.html.md
  source/manual/compiler/optimisations.html.md
  source/manual/compiler/type-inference.html.md
  source/manual/editor-integration.html.md
  source/manual/getting-started/concurrent-programming.html.md
  source/manual/getting-started/error-handling.html.md
  source/manual/getting-started/hello-world.html.md
  source/manual/getting-started/instance-attributes.html.md
  source/manual/getting-started/iterators.html.md
  source/manual/getting-started/methods-messages-and-objects.html.md
  source/manual/getting-started/modules.html.md
  source/manual/getting-started/optional-values.html.md
  source/manual/getting-started/sockets.html.md
  source/manual/getting-started/traits.html.md
  source/manual/getting-started/types.html.md
  source/manual/getting-started/variables.html.md
  source/manual/ienv.html.md
  source/manual/inko-compared-to-other-languages.html.md
  source/manual/install.html.md
  source/manual/style-guide.html.md
  source/manual/syntax.html.md
  source/manual/virtual-machine/bytecode.html.md
  source/manual/virtual-machine/configuration.html.md
  source/manual/virtual-machine/instructions.html.md
  source/manual/virtual-machine/introduction.html.md
  source/manual/virtual-machine/memory-management.html.md
  source/manual/virtual-machine/scheduling.html.md
  source/stylesheets/all.css.scss
Due: lint:vale

Show code examples in the mobile layout
  source/stylesheets/all.css.scss
Due: none

Fix error handling link on the homepage
  data/highlights.yml
Due: none

Add news article about our Docker images
  source/news/inko-is-now-available-on-docker-hub.html.md
Due: lint:vale

Remove old vale Dockerfile
  docker/vale/Dockerfile
Due: docker:vale

Use project access tokens for the sponsors data
  scripts/sponsors.sh
Due: none

Ignore vendor/ in Git
  .gitignore
Due: none

Remove web fonts in favour of using sans-serif
  source/fonts/open-sans-semi-bold.woff2
  source/fonts/open-sans-v13-latin-ext_latin-regular.woff
  source/fonts/open-sans-v13-latin-ext_latin-regular.woff2
  source/stylesheets/all.css.scss
Due: none
